@import 'reset.css';
html {
    font-family: Proxima Nova, Arial, sans-serif;
    background: #fcfcfc;
}

.clear {
    clear: both;
}

img { 
    display: block; 
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
}


header nav { 
    margin-top: 10px; 
}

hr{ 
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    
}

header nav ul li a {
    font-size: 16px;
    color: rgb(120,150,20);
}



header nav ul ul li a {
    font-size: 16px;
    color: rgb(120,150,20);
/*    a is for specific styling (fontsize, color, etc.) */
}

header nav ul ul {
    display: none; 
    
}

header nav ul li:hover ul {
    display: flex;
    flex-direction: row;
    position: absolute; 
    color: rgb(150,20,30); 
    font-size: 12px;
/*    ul is for display, position, general styling*/
}

header nav ul ul li {
    box-sizing: border-box; 
    padding: 20px;
/*    li is for padding, margins, etc.*/
}

header nav ul ul ul li {
    display: none;
}

header nav ul ul li:hover ul li {
    display: block;
    position: relative; 
    padding: 20px;
}

header nav ul ul ul li a {
    color: rgb(150,20,30); 
    font-size: 12px; 
}

header {
    background:none;
    box-sizing: border-box;
    width: relative; 
    height: 180px; 
    padding: 30px; 
    border: 1px solid none; 
}

header a img {
    max-width: 200px;
    width: 200px; 
    height: relative; 
/*    position: relative; */
    float: right;
    padding: 5px; 
}

h1{ 
    font-size: 36pt; 
    font-weight: 500;
}
h2 { 
    display: block; 
    
    font-size: 18pt;
    font-style: italic;
    background-color:rgb(190,210,20);
    width: 500px;  
    border-style: dashed; 
    border-width: 3px;
    padding: 10px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}
h3{
    font-size: 36pt;
    font-weight: 500; 
}
p.fun{
    font-size: 12pt;
    line-height: 40px;
    font-weight: 300;
    width: 500px;  
    border: 5px black;
    border-style: dotted;
    padding: 10px ; 
    margin-top: 15px;
   
}


p.buddy { 
    font-size: 12pt; 
    line-height: 20px;
    font-style: normal;
    margin-bottom: 20px;
    


}


main {
    display: block;
    position: relative;
    position: relative;
    width: 100%; 
/*    float: left;*/
/*    margin-right: 5%;*/
    box-sizing: border-box;
} 

section, aside {
    padding: 30px;
}

footer { 
    display: block;
    position: relative;
    width: 50%;
    padding: 30px;
     
}
footer nav { 
    padding: 25px;
}

    


@media screen and (max-width: 570px){
    
   
    
    header nav ul li:hover ul {
        display: flex;
        flex-direction: column;
        box-sizing: border-box; 
        position: relative; 
    }
    
    header nav ul ul ul li {
        display: none;
    }
    
    header nav ul ul li:hover ul li {
        position: relative;
        box-sizing: border-box;
    }
    
    main {  
        position: relative;
        font-size: 14px;
    }
    h2 { 
    display: block; 
    
    font-size: 18pt;
    font-style: italic;
    background-color:rgb(190,210,20);
    width: 340px;  
    border-style: dashed; 
    border-width: 3px;
    padding: 10px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    }
    p.fun{
    font-size: 12pt;
    line-height: 40px;
    font-weight: 300;
    width: 340px;  
    border: 5px black;
    border-style: dotted;
    padding: 10px ; 
    margin-top: 15px;
   
}
    

}
    
    